.vs/
*.db
*.ipdb
*.pdb
*.cso
Bin/Resources/
Client/Debug/
Client/Release/
Client/x64/
CodeGen/Debug/
CodeGen/Release/
CodeGen/x64/
Engine/Debug/
Engine/Release/
Engine/Unity_Debug/
Engine/x64/
Tool/x64/
UnityBuild/x64/
x64/
UnityBuild/Release/
UnityBuild/Debug/
Tool/Unity_Debug/
Tool/Release/
Tool/Debug/
ScriptLib/Unity_Debug/
ScriptLib/Release/
ScriptLib/Debug/
*.lib
Bin/
Bin_Debug/
Bin64/
Bin64_Debug/
*.sdf
*.dll
*.ipch
